.table {
    border: 1px solid #BBC2C9;
    border-radius: 20px;
    margin-top: 20px;
    padding: 5px 20px 10px 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alternative-table {
    width: 70%;
}

.header {
    height: 70px;
    background-color: yellow;
}

h2 {
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #656464;
}

h3 {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #656464;
}

.alternative-list {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content {
    padding: 20px 50px 40px 50px;
}
